html {
  box-sizing: border-box;
  font-size: 16px;
  color: #4A2E25;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.jumbotron h1 {
    font-size: 4rem;
    font-family: 'Arizonia', sans-serif;
    color: #4A2E25;
    margin-top: 1rem;
    margin-right: 4rem;
}

.jumbotron {
    height: 250px;
    background-image: url("../images/coffee.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 15px;
}

.container .jumbotron {
    border-radius: 0px;
}

.panel {
    background-image: url("../images/oldpaper.jpg");
    background-repeat: repeat-y;
    background-position: center;
    background-size: cover;
    border: 0;
}

.form-control {
    border: 1px solid #4A2E25;
    border-radius: 5px;
    outline: none;
    color: #4A2E25;
    font-family: 'Overlock', sans-serif;
    font-weight: 100;
    font-size: 1rem;
}

.form-control:focus {
    border: 2px dashed #4A2E25;
    border-radius: 5px;
    outline: none;
}

.form-group {
    color: #4A2E25;
    font-family: 'Overlock', sans-serif;
    font-weight: 100;
    font-size: 1.2rem;

}

.radio {
    color: #4A2E25;
    font-family: 'Overlock', sans-serif;
}

.checkbox .radio {
    background-color: white;
}

.select,
.select .option,
.btn {
  color: #4A2E25;
  font-family: 'Overlock', sans-serif;
  font-size: 1rem;
}

.btn,
.btn-default {
    margin: 0 auto;
	border-radius: 4px;
	border: solid 1px #4A2E25;
	box-shadow: 2px 2px 2px #4A2E25, inset 0 1px 0 rgba(255, 255, 255, 0.4);
	transition-duration: 0.2s;
	user-select: none;
    outline: none;
}

.btn-default:active:focus, 
.btn-default:visited, 
.btn-default:focus { 
    outline: none; 
}

.btn-default:active:focus {
     background: #BF7660;
}

.btn-default:focus {
    background: white;
}

.btn:hover,
.btn-default:hover {
    background: #BF7660;
    border: solid 1px #4A2E25;
    user-select: none;
    outline: none;
}

.btn:active,
.btn-default:active {
	box-shadow: 0 0 0 #4A2E25, inset 0 1px 4px rgba(0, 0, 0, 0.6);
	background: #BF7660;
	border: solid 1px #4A2E25;
    user-select: none;
    outline: none;
}

.email-input {
    height: 36px;
    background-color: white;
    box-shadow: 0 2px 2px #4A2E25;
}

.input-group {
    box-shadow: 0 2px 2px #4A2E25;
}

.email-input:focus,
.email-input:visited,
.email-input:active {
    background-color: white;
}

input:-webkit-autofill, 
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset;
}


.subtitle {
    font-family: 'Arizonia', sans-serif;
    font-size: 2.25rem;
    text-align: center;
    color: #4A2E25;
}

.my-order {
    margin-bottom: 15px;
}

.my-order h2 {
    margin-top: 10px;
}

.individual-orders {
    text-align: center;
    color: #4A2E25;
    font-family: 'Overlock', sans-serif;
    font-size: 1.1rem;
}

.orders h2 {
    margin: 0;
}

.orders p {
    color: #4A2E25;
    font-family: 'Overlock', sans-serif;
    font-size: 1rem;
    font-style: italic;
    margin-bottom: 5px;
}

.orders {
    text-align: center;
}

.orders a:after {
    content: "";
    display: block;
    height: 0;
    width: 1px;
}

.display-order {
    text-align: center;
    height: 250px;
    overflow-x: scroll;
    margin-bottom: 0;
    padding-bottom: 0;
}

.display-order a {
    text-decoration: none;
    line-height: 1.75rem;
    color: #4A2E25;
    font-family: 'Overlock', sans-serif;
    font-size: 1.1rem;
}

.display-order a:hover {
    text-decoration: line-through;
    color: #4A2E25;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4A2E25;
    font-family: 'Overlock', sans-serif;
    font-size: 4rem;
    text-align: center;
    padding: 2rem;
    margin: 0;
}

.slogan,
.slogan2 {
    margin: 0;
    font-size: 1rem;
}

.slogan2 {
    font-style: italic;
}

.brand {
    font-family: 'Arizonia', sans-serif;
    font-size: 2.25rem;
    margin: .25rem 0;
    color: #4A2E25;
}

@media screen and (min-width: 550px) {
    .jumbotron {
        height: 300px;
    }
    .jumbotron h1 {
    font-size: 5rem;
    margin-top: 50px;
    }
}

@media screen and (min-width: 650px) {
    .jumbotron {
        height: 350px;
    }
    .jumbotron h1 {
    margin-top: 75px;
    }
    .subtitle {
    font-size: 2.5rem;
    }
}

@media screen and (min-width: 750px) {
    .jumbotron {
        height: 400px;
    }
    .jumbotron h1 {
    font-size: 6rem;
    }
}

@media screen and (min-width: 991px) {
    .jumbotron {
        height: 450px;
    }
    .jumbotron h1 {
    margin-top: 100px;
    font-size: 7rem;
    }
    .subtitle {
    font-size: 3rem;
    }
}